<div class="d-flex flex-wrap p-3 justify-content-between">
    <div *ngFor="let exam of exams; let i = index" class="card mx-2">
        <img src="https://vistapointe.net/images/final-exam-wallpaper-11.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <div class="d-flex">
                <h3 class="show">Phòng Thi:&nbsp;</h3><h3>{{exam.room}}</h3>
            </div>

            <div class="d-flex w-100">
                <h3 class="show">Môn Học:&nbsp;</h3><h3>{{exam.subjectName}}</h3>
            </div>

        </div>
    </div>
</div>

<app-spinner *ngIf = "this.showSpinner"></app-spinner>
