<div class="container p-5 w-100">
    <div>
        <h1>Edit Profile</h1>
        <hr />
        <div class="input-group mb-3">
            <span class="input-group-text">ID</span>
            <input readonly type="text" aria-label="First name" class="form-control" value = {{this.inforPage.id}}>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Tên Đầy Đủ</span>
            <input type="text" aria-label="First name" class="form-control" value = {{this.inforPage.firstName}}>
            <input type="text" aria-label="Last name" class="form-control" value = {{this.inforPage.middleName}}>
            <input type="text" aria-label="Last name" class="form-control" value = {{this.inforPage.lastName}}>
        </div>

        
    </div>
</div>
