<div class="back text-light">
    <div class="text-light render d-flex flex-column">
        <span class="text-warning h3">{{message}}</span>
        <h1 class = "show">ID Môn học</h1>: <h1>{{subject.id}}</h1>
        <div>
            <h1 class = "show">Tên Môn Học:</h1>
            <input (keyup)="getInfor($event)" type="text"  value = {{subject.name}}>
        </div>
        <button (click)="editSubject()" type="button" class="btn btn-warning my-4">Sửa Thông Tin Môn Học</button>
    </div>
</div>

<app-spinner *ngIf = "this.showSpinner"></app-spinner>