<div>
  <div class = "d-flex">
    <button routerLink = "mainPage" class = "mx-3 myBtn px-3">
      Trang Admin
    </button>

    <div>
      <a routerLink="list-users" class="myBtn mx-3 btn btn-secondary" type="button">
        Người Dùng
      </a>
    </div>


    <div class="dropdown">
      <button class="myBtn mx-3 btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Sinh Viên
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" routerLink = "insertStudent">Thêm Sinh Viên</a></li>
        <li><a class="dropdown-item" routerLink="list-students">Danh Sách Sinh Viên</a></li>
      </ul>
    </div>

    <div class="dropdown">
      <button class="myBtn mx-3 btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Giáo Viên
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" routerLink = "add-teacher">Thêm Giáo Viên</a></li>
        <li><a class="dropdown-item" routerLink="list-teachers">Danh Sách Giáo Viên</a></li>
      </ul>
    </div>


    <div class="dropdown">
      <button class="myBtn mx-3 btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Môn Học
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" routerLink = "add-subject">Thêm Môn Học</a></li>
        <li><a class="dropdown-item" routerLink="list-subjects">Danh Sách Môn Học</a></li>
      </ul>
    </div>

    <div class="dropdown">
      <button class="myBtn mx-3 btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Khóa Học
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" routerLink = "add-course">Thêm Khóa Học</a></li>
        <li><a class="dropdown-item" routerLink = "list-groups">Danh Sách Khóa Học</a></li>
      </ul>
    </div>

    <div class="dropdown">
      <button class="myBtn mx-3 btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Kỳ Thi
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" routerLink = "add-exam">Thêm Kỳ Thi</a></li>
        <li><a class="dropdown-item" routerLink = "show-exams">Danh Sách Kỳ Thi</a></li>
      </ul>
    </div>

    <div>
      <a routerLink="show-score" class="myBtn mx-3 btn btn-secondary" type="button">
        Điểm Số
      </a>
    </div>

  </div>
  <div class = "m-3 myContentAdmin p-3 bg-light">
    <router-outlet></router-outlet>
  </div>
</div>

